.catalog {}

.container {}

.main__catalog {}


.catalog__cards {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
    justify-content: center;
}

.catalog__title {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.catalog__wraper {
    display: flex;
    align-items: center;
}